body {
    font-family: Arial;
    background-color: lightgrey;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* початковий бейдж */
.badge {
    background-color: purple;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 150px;
    padding: 5px;
    border-radius: 5px;
    color: white;
    position: fixed;
    bottom: 0;
    left: 0;
    font-size: 25px;
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out, color 0.3s ease-in-out, height 0.3s ease-in-out;
}

/* наведення курсора */
.badge:hover {
    background-color: plum;
    height: 100px;
    color: black;
}

/* стиль надпису з іменем */
.badge span {
    font-size: 14px;
    display: none;
    margin-top: 5px;
}

/* показує надпис з іменем */
.badge:hover span {
    display: block;
}

.box {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    flex-wrap: wrap;
}

.left-box {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    flex: 3;
    margin-right: 20px;
    margin-bottom: 20px;
}

.sidebox {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.section h3 {
    margin-bottom: 10px;
    font-size: 18px;
    border-bottom: 1px solid lightgrey;
    padding-bottom: 10px;
}

.product-summary-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
    height: 20px;
    width: 75px;
    background-color: #e3e3e3;
    color: black;
    padding: 7px;
    border-radius: 5px;
    font-size: smaller;
}

.product-summary {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.quantity-summary {
    margin-left: 5px;
    background-color: darkorange;
    color: white;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-box {
    display: flex;
    margin-bottom: 20px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

#product-input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    flex: 1;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

#add-button {
    background-color: blue;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom: 3px solid darkblue;
    cursor: pointer;
}

.product {
    display: grid;
    grid-template-columns: 150px 1fr auto;
    align-items: center;
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}

.product:last-child {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
}

.product-name {
    margin-right: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.quantity-controls {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 90px;
}

.decrease {
    background-color: red;
    color: white;
}

.increase {
    background-color: green;
    color: white;
}

.quantity-controls .decrease,
.quantity-controls .increase {
    border: none;
    padding: 5px 10px;
    border-radius: 50%;
    cursor: pointer;
    margin: 0 5px;
}

.quantity {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
    width: 25px;
    border-radius: 20%;
    background-color: lightgray;
    color: black;
    font-size: smaller;
}

.buttons-box {
    display: flex;
    align-items: center;
    gap: 5px;
}
.status{
    width: 90px;
}
.status,
.remove {
    background-color: #e3e3e3;
    color: black;
    border: 0.5px solid gray;
    border-bottom: 2px solid gray;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}
.remove {
    background-color: red;
    color: white;
    border: 0.5px solid darkred;
    border-bottom: 2px solid darkred;
    margin-left: 5px;
}

.product-name-input {
    width: 120px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
}

@media (max-width: 768px) {
    .box {
        flex-direction: column;
    }

    .left-box {
        margin-right: 0;
    }

    .sidebox {
        margin-top: 20px; 
    }
}

@media print {
    .badge {
        background-color: white;
        border: 2px solid purple;
        color: purple;
    }

    .badge span1 {
        display: none;
    }

    .badge::after {
        content: "Робота Панасюк Софії";
        font-size: 20px;
        color: purple;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

[data-tooltip] {
    position: relative;
    cursor: pointer;
}

[data-tooltip]::before,
[data-tooltip]::after {
    position: absolute;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    pointer-events: none;
}

[data-tooltip]::before {
    content: attr(data-tooltip);
    background-color: purple;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    bottom: 120%;
    left: 50%;
    transform: translateX(-50%) scale(0.5);
    transform-origin: top;
}

[data-tooltip]:hover::before,
[data-tooltip]:hover::after {
    opacity: 1;
    transform: translateX(-50%) scale(1);
}
